* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #1a1a1a;
}
.container {
 
  width: 90%;
  max-width: 470px;
  background-color: #1a1a1a;
  border: 2px solid whitesmoke;
  color: #fff;
  margin: 20px auto 0;
  padding: 40px 35px;
  border-radius: 10px;
 


 
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{

    outline: 0;
    padding: 10px 25px;
    background: transparent;
    border-radius: 50px;
    height: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
    color: white;
}

.search button{
    border-radius: 50%;
    outline: 0;
    background: transparent;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}



.weather-icon{
    width: 140px;
    margin-top: 30px ;
    margin-left: 120px;
   

}

.weather h1{
  font-size: 60px;
  font-weight: 500;
}
.weather h2{
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: -10px;
}

.weather h1,h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}